{% extends "layouts.base" %}

{% block content %}
<header class="records-header">
	<h2 class="records-title">
		<a href="/boards/{{ board.id }}">{{ board.title }}</a>
	</h2>
	<div class="records-actions">
		<a href="/boards/{{ board.id }}/pins/new">
			<button>+ New</button>
		</a>
	</div>
</header>

<form class="record" method="POST" action="/pins/{{ pin.id }}" autocomplete="off">
	<input type="text" name="_method" value="PUT" hidden>

	<label class="record-field">
		<span>Title</span>
		<input type="text" name="title" required value="{{ pin.title }}" autofocus>
	</label>

	<label class="record-field">
		<span>URL</span>
		<input type="text" name="url" required value="{{ pin.url }}">
	</label>

	<label class="record-field">
		<span>Board</span>
		<select name="board_id" required>
			{% for board in boards %}
			{% set selected = board.id | string == pin.board_id | string %}
			<option {% if selected %} selected {% endif %} value="{{ board.id }}">{{ board.title }}</option>
			{% endfor %}
		</select>
	</label>

	<footer class="record-actions">
		<a class="action" href="/boards/{{ board.id }}">
			<button type="button">Cancel</button>
		</a>
		<button class="button--primary" type="submit">Save</button>
	</footer>
</form>
{% endblock %}
