{% extends "layouts.base" %}
{% set active_nav = "boards" %}

{% block title %}Cork - New pin{% endblock %}

{% block content %}
<header id="page-header">
	<h2 id="page-title">New pin</h2>

	<span id="page-context">
		<span>Board:</span>
		<a href="/boards/{{ board.id }}">{{ board.title }}</a>
	</span>
</header>

<form class="frame" method="POST" action="/pins/" autocomplete="off">
	<header class="frame-header">
		<h3 class="frame-title">Details</h3>
	</header>

	<section class="form-items">
		<label class="frame-item form-item">
			<span class="form-label">Title</span>
			<input class="form-field" type="text" name="title" required autofocus>
		</label>

		<label class="frame-item form-item">
			<span class="form-label">URL</span>
			<input class="form-field" type="url" name="url" required>
		</label>

		<label class="frame-item form-item">
			<span class="form-label">Board</span>
			<select class="form-field" name="board_id" required>
				{% for board in boards %}
				{% set selected = board.id | string == board_id | string %}
				<option {% if selected %} selected {% endif %} value="{{ board.id }}">{{ board.title }}</option>
				{% endfor %}
			</select>
		</label>
	</section>

	<footer class="frame-item form-actions">
		<a class="button" href="/boards/{{ board.id }}">Cancel</a>
		<button class="button button--action" type="submit">Save</button>
	</footer>
</form>
{% endblock %}
