body {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	max-width: 35rem;
	height: 100vh;
	margin: 0 auto;
	padding-inline: 0.5rem;

	font-family: Helvetica Neue, sans-serif;
	font-size: var(--font-md);

	color: var(--color-fg);
	background-color: var(--color-bg);
}

*:focus {
	outline: 2px solid var(--color-theme);
	border-color: transparent;
}

input, select {
	padding-block: 0.25em;
	padding-inline: 0.35em;
	border: 1px solid var(--color-border);
	border-radius: 0;
	background-color: transparent;
}

button {
	padding: 0.25em 0.5em;
	border: 1px solid var(--color-border);

	white-space: nowrap;

	background-color: transparent;
	color: var(--color-fg);

	&:hover {
		background-color: var(--color-bg-dim);
		cursor: pointer;
	}

	&.button--icon {
		border-width: 0.75px;
		font-size: var(--font-xs);
	}

	&.button--primary {
		background-color: var(--color-fg);
		color: var(--color-bg);

		&:hover {
			background-color: var(--color-fg-dim);
			border-color: var(--color-fg-dim);
		}
	}
}

a {
	color: var(--color-fg);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&.action {
		text-decoration: underline;
	}

	&:has(> button) {
		text-underline: none;
	}
}

.header {
	display: flex;
	align-items: center;
	padding-block: 0.5rem;
	border-block-end: 1px solid var(--color-border);
}

.header-title {
	font-weight: bold;
}

.header-nav {
	display: flex;
	gap: 0.5em;
	margin-inline-start: 1em;
	font-size: var(--font-sm);
}

.header-actions {
	margin-inline-start: auto;
}

.menu {
	position: absolute;
	position-area: block-end span-inline-start;
	flex-direction: column;
	width: 5.5rem;
	margin: 0;
	padding: 0;
	border: 1px solid var(--color-border);

	background-color: var(--color-bg);

	&:popover-open {
		display: flex;
	}

	> li button, a {
		width: 100%;
		padding-block: 0.25rem;
		padding-inline: 0.35em;
		text-align: end;
	}

	> li button {
		border: none;
	}

	> li a {
		display: inline-block;
		text-decoration: none;

		&:hover {
			cursor: pointer;
			background-color: var(--color-bg-dim);
		}

		& > button {
			padding: 0;
		}
	}

	> li + li {
		border-block-start: 1px solid var(--color-border-dim);
	}
}

.dialog {
	flex-direction: column;
	gap: 0.5em;
	width: 300px;
	padding-block: 0.5rem;
	padding-inline: 0.5em;
	border: 1px solid var(--color-border);

	background-color: var(--color-bg);
	color: var(--color-fg);

	&:open {
		display: flex;

		&::backdrop {
			background-color: var(--color-backdrop);
		}
	}

	&:focus {
		outline: none;
		border-color: var(--color-border);
	}
}

.dialog-actions {
	display: flex;
	gap: 0.35em;
	justify-content: flex-end;
	padding-block-start: 0.5em;
	border-top: 1px solid var(--color-border-dim);
}

main {
	& > * + * {
		margin-block-start: 0.5rem;
	}
}

.record {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 1fr 6fr;
	padding: 0.5rem;
	border: 1px solid var(--color-border);
}

.record-field {
	display: grid;
	grid-template-columns: inherit;
	grid-column: 1 / 3;
	align-items: center;
}

.record-actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5em;
	grid-column: 1 / 3;
	padding-block-start: 0.5rem;
	border-block-start: 1px solid var(--color-border-dim);
}

.records {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.records-header {
	display: flex;
	align-items: center;
	padding-block: 0.5rem;
	padding-inline: 0.5em;
	border: 1px solid var(--color-border);
}

.records-title {
	font-size: var(--font-lg);
	font-weight: bold;
}

.records-actions {
	display: flex;
	gap: 0.5em;
	align-items: center;
	margin-left: auto;
}

.records-content {
	padding-block: 0.25rem;
	padding-inline: 0.5em;
	border: 1px solid var(--color-border);

	> ol {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		> li {
			padding-block: 0.25rem;
		}

		> li + li {
			border-block-start: 1px solid var(--color-border-dim);
		}
	}
}

.board {
	display: flex;
	align-items: center;
}

.board-details {
	width: 80%;
}

.board-actions {
	margin-inline-start: auto;
}

.pin {
	display: flex;
	align-items: center;
}

.pin-details {
	width: 80%;
}


.pin-link {
	position: relative;
	text-decoration: none;

	&:hover {
		> .pin-title, > .pin-url {
			text-decoration: underline;
		}
	}

	&:visited {
		> .pin-title {
			color: var(--color-link-visited);
		}
	}
}

.pin-title {
	color: var(--color-link);
}

.pin-url {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--color-fg-dim);
}

.pin-timestamp {
	font-size: var(--font-sm);
	text-decoration-color: var(--color-fg);
}

.pin-actions {
	margin-inline-start: auto;
}

.turbo-progress-bar {
	background-color: var(--color-theme);
}
