body {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	margin: 0 auto;
	width: 95vw;
	height: 100vh;

	font-family: "Helvetica Neue", sans-serif;

	color: var(--color-fg);
	background-color: var(--color-bg);
}

*:focus {
	outline: 0.15em solid var(--color-theme);
	border-color: transparent;
}

input, select {
	padding-block: 0.25em;
	padding-inline: 0.35em;
	border: 0.05em solid var(--color-border);
	border-radius: 0;
	background-color: transparent;
}

button {
	padding: 0.25em 0.5em;
	border: 0.05em solid var(--color-border);

	white-space: nowrap;

	background-color: transparent;

	&:hover {
		background-color: var(--color-bg-dim);
		cursor: pointer;
	}
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&.action {
		text-decoration: underline;
	}

	&:has(> button) {
		text-underline: none;
	}
}

.header {
	display: flex;
	align-items: center;
	padding-block: 0.5rem;
	border-block-end: 0.05em solid var(--color-border);
}

.header-title {
	font-weight: bold;
}

.header-nav {
	display: flex;
	gap: 0.5em;
	margin-inline-start: 1em;
	font-size: 0.875rem;
}

.header-actions {
	margin-inline-start: auto;
}

.menu-anchor {
	position: relative;
}

.menu {
	position: absolute;
	top: calc(100% + 0.25rem);
	right: 0;
	display: none;
	flex-direction: column;
	width: 80px;
	border: 0.05em solid var(--color-border);
	font-size: 0.875rem;
	text-align: end;
	background-color: var(--color-bg);

	> li {
		padding-block: 0.25rem;
		padding-inline: 0.35em;
	}

	> li > a {
		display: block;
	}

	> li + li {
		border-block-start: 0.05em solid var(--color-border-dim);
	}
}

.menu-open {
	display: flex;
}

main {
	& > * + * {
		margin-block-start: 0.5rem;
	}
}

.record {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 1fr 6fr;
	padding: 0.5rem;
	border: 0.05em solid var(--color-border);
}

.record-field {
	display: grid;
	grid-template-columns: inherit;
	grid-column: 1 / 3;
	align-items: center;
}

.record-actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5em;
	grid-column: 1 / 3;
	padding-block-start: 0.5rem;
	border-block-start: 0.05em solid var(--color-border-dim);
}

.records {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.records-header {
	display: flex;
	align-items: center;
	padding-block: 0.5rem;
	padding-inline: 0.5em;
	border: 0.05em solid var(--color-border);
}

.records-title {
	font-size: 1.1rem;
	font-weight: bold;
}

.records-actions {
	display: flex;
	gap: 0.5em;
	align-items: center;
	margin-left: auto;
}

.records-content {
	padding-block: 0.25rem;
	padding-inline: 0.5em;
	border: 0.05em solid var(--color-border);

	> ol {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		> li {
			padding-block: 0.25rem;
		}

		> li + li {
			border-block-start: 0.05em solid var(--color-border-dim);
		}
	}
}

.board {
	display: flex;
	align-items: center;
}

.board-details {
	width: 80%;
}

.board-actions {
	margin-inline-start: auto;
}

.pin {
	display: flex;
	align-items: center;
}

.pin-details {
	width: 80%;
}


.pin-link {
	position: relative;
	text-decoration: none;

	&:hover {
		> .pin-title, > .pin-url {
			text-decoration: underline;
		}
	}

	&:visited {
		> .pin-title {
			color: var(--color-link-visited);
		}
	}
}

.pin-title {
	color: var(--color-link);
}

.pin-url {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--color-fg-dim);
}

.pin-timestamp {
	font-size: 0.875rem;
	text-decoration-color: var(--color-fg);
}

.pin-actions {
	margin-inline-start: auto;
}

@media screen and (min-width: 768px) {
	body {
		width: 55vw;
	}
}

@media screen and (min-width: 1280px) {
	body {
		width: 40vw;
	}
}

.turbo-progress-bar {
	background-color: var(--color-theme);
}
