body {
	max-width: 25rem;
}

main {
	display: flex;
	flex-direction: column;
	padding-block-start: 10rem;
}

h1 {
	display: flex;
	font-size: 2rem;
	font-weight: bold;

	> span {
		align-self: center;
		margin-inline-start: 0.5em;
		font-size: 0.6em;
	}
}
