:root {
	--color-theme: #398ee7;
	--color-bg: #fff;
	--color-fg: #000;
	--color-bg-dim: #eee;
	--color-fg-dim: #666;
	--color-border: #000;
	--color-border-dim: #bbb;
	--color-link: #1974d3;
	--color-link-visited: #2260a0;
	--color-backdrop: hsla(0 0% 0% / 25%);

	--font-xs: 0.75rem;
	--font-sm: 0.85rem;
	--font-md: 1rem;
	--font-lg: 1.1rem;
	--font-xl: 1.3rem;

	--space-xs: 0.25rem;
	--space-sm: 0.5rem;
	--space-md: 0.75rem;
	--space-lg: 1.25rem;
	--space-xl: 2rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-theme: #145ba5;
		--color-bg: #131313;
		--color-fg: #fafafa;
		--color-bg-dim: #2f2f31;
		--color-fg-dim: #aaa;
		--color-border: #bfbfbf;
		--color-border-dim: #535353;
		--color-link: #6fa4db;
		--color-link-visited: #145ba5;
		--color-backdrop: hsla(0 0% 0% / 35%);
	}
}
