[Unit]
Description=Cork application socket

[Socket]
ListenStream=/run/cork/cork.sock
SocketUser=cork
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
