{% set pin = archival.placement.pin -%}
<li class="frame-item archived-row">
	{% render PinLink(pin=pin, new_tab=preferences.open_in_new_tab, class="archived-row-title") %}{{ pin.title }}{% endrender %}
	<time datetime="{{ archival.created_at }}">{{ archival.created_at | date }}</time>
	<form action="{{ urls.route("archivals.delete", {"id": archival.id}) }}" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<button class="button button--small" type="submit">Unarchive</button>
	</form>
	{{ PlacementMenu(placement=archival.placement, access=access) }}
</li>
