{% extends "layouts.base" %}
{% set page_modifier = "page--sign-in" %}

{% block metadata %}
<meta name="turbo-visit-control" content="reload">
{% endblock %}

{% block title %}Cork - Sign in{% endblock %}
{% block site_navigation %}{% endblock %}

{% block content %}
<header id="page-header">
	<h2 id="page-title">Welcome</h2>
</header>

<form class="frame" action="/sign-in" method="POST">
	<header class="frame-header">
		<h3 class="frame-title">Sign in</h3>
	</header>

	<section class="form-items">
		<label class="frame-item form-item">
			<span class="form-label">User</span>
			<select class="form-field" name="user_id" required autofocus>
				<option value="" selected disabled></option>
				{% for user in users %}
				<option value="{{ user.id }}">{{ user.name }}</option>
				{% endfor %}
			</select>
		</label>
	</section>

	<footer class="frame-item form-actions">
		<button class="button button--action" type="submit">Sign in</button>
	</footer>
</form>
{% endblock %}
