<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="turbo-visit-control" content="reload">

		<title>Cork</title>

		<link rel="stylesheet" type="text/css" href="/static/styles/prelude.css">
		<link rel="stylesheet" type="text/css" href="/static/styles/theme.css">
		<link rel="stylesheet" type="text/css" href="/static/styles/main.css">
		<link rel="stylesheet" type="text/css" href="/static/styles/sign-in.css">
	</head>

	<body>
		<main>
			<header class="records-header">
				<h1>Cork <span>📌︎</span>︎</h1>
			</header>
			<form class="record" method="POST" action="/sign-in">
				<label class="record-field">
					<span>User</span>
					<select name="user_id">
						{% for user in users %}
						<option value="{{ user.id }}">{{ user.name }}</option>
						{% endfor %}
					</select>
				</label>

				<footer class="record-actions">
					<button type="submit">Sign In</button>
				</footer>
			</form>
		</main>
	</body>
</html>
