{% extends "layouts.base" %}

{% block content %}
<header class="records-header">
	<h2 class="records-title">
		<a href="/boards/">Boards</a>
	</h2>
	<div class="records-actions">
		<a href="/boards/new">
			<button>+ New</button>
		</a>
	</div>
</header>

<form class="record" action="/boards/{{ board.id }}" method="POST" autocomplete="off">
	<input type="text" name="_method" value="PUT" hidden>

	<label class="record-field">
		<span>Title</span>
		<input type="text" name="title" value="{{ board.title }}" required autofocus>
	</label>

	<footer class="record-actions">
		<a href="/boards/">
			<button type="button">Cancel</button>
		</a>
		<button class="button--primary" type="submit">Save</button>
	</footer>
</form>

<form id="delete-board" method="POST" action="/boards/{{ board.id }}" hidden>
	<input type="text" name="_method" value="DELETE" hidden>
</form>
{% endblock %}
