{% extends "layouts.app" %}
{% set active_nav = "boards" %}

{% block title %}Cork - Boards{% endblock %}

{% block content %}
<header id="page-header">
	<h2 id="page-title">Boards</h2>

	<section id="page-actions">
		<a class="button button--action" href="{{ urls.route("boards.new") }}">New board</a>
	</section>
</header>

<section
	class="frame"
	data-controller="reorder"
	data-reorder-url-value="{{ urls.route("board_orderings.update") }}"
	data-reorder-field-value="board_ids"
>
	<header class="frame-header">
		<h3 class="frame-title">Private</h3>
	</header>

	<ol
		class="frame-items"
		data-reorder-target="list"
		data-action="dragover->reorder#dragOver dragleave->reorder#dragLeave drop->reorder#drop"
	>
		{% for board in private_boards %}
		{{ BoardItem(board=board, user=auth.user) }}
		{% else %}
		<li class="frame-item frame-empty">No private boards.</li>
		{% endfor %}
	</ol>

	<header class="frame-header">
		<h3 class="frame-title">Shared</h3>
	</header>

	<ol
		class="frame-items"
		data-reorder-target="list"
		data-action="dragover->reorder#dragOver dragleave->reorder#dragLeave drop->reorder#drop"
	>
		{% for board in shared_boards %}
		{{ BoardItem(board=board, user=auth.user) }}
		{% else %}
		<li class="frame-item frame-empty">No shared boards.</li>
		{% endfor %}
	</ol>
</section>
{% endblock %}
