{% extends "layouts.base" %}

{% block content %}
<header class="records-header">
	<h2 class="records-title"><a href="/boards/">Boards</a></h2>
	<div class="records-actions">
		<a href="/boards/new">
			<button>+ New</button>
		</a>
	</div>
</header>

<form class="record" action="/boards/" method="POST" autocomplete="off">
	<label class="record-field">
		<span>Title</span>
		<input type="text" name="title" required autofocus>
	</label>

	<footer class="record-actions">
		<a class="action" href="/boards/">
			<button type="button">Cancel</button>
		</a>
		<button class="button--primary" type="submit">Save</button>
	</footer>
</form>
{% endblock %}
