{% extends "layouts.app" %}
{% set active_nav = "boards" %}

{% block title %}Cork - New board{% endblock %}

{% block content %}
<header id="page-header">
	<h2 id="page-title">New board</h2>
</header>

<form class="frame" action="{{ urls.route("boards.create") }}" method="POST" autocomplete="off">
	<header class="frame-header">
		<h3 class="frame-title">Details</h3>
	</header>

	<section class="form-items">
		<label class="frame-item form-item">
			<span class="form-label">Title</span>
			<input
				class="form-field{% if submission.invalid("title") %} form-field--invalid{% endif %}"
				type="text"
				name="title"
				value="{{ submission.value("title") }}"
				required
				autofocus
			>
			{% if submission.invalid("title") %}<span class="form-field-error">{{ submission.error("title") }}</span>{% endif %}
		</label>
	</section>

	{{ BoardSharing(
		owner=owner,
		users=users,
		shared_user_ids=shared_user_ids,
	) }}

	<footer class="frame-item form-actions">
		<a class="button" href="{{ urls.route("boards.index") }}">Cancel</a>
		<button class="button button--action" type="submit">Save</button>
	</footer>
</form>
{% endblock %}
