{% extends "layouts.base" %}

{% block content %}
<section>
	<header>
		<h2>
			<a href="/boards/{{ board.id }}">{{ board.title }}</a>
		</h2>

		<a href="/boards/{{ board.id }}/edit">Edit</a>
	</header>

	<ol>
	{% for pin in pins %}
		<li>
			<article class="pin">
				<a href="{{ pin.url }}" class="pin-details">
					<h3 class="pin-title">{{ pin.title }}</h3>
					<h3 class="pin-url">{{ pin.url | truncate(50) }}</h3>
					<time datetime="{{ pin.created_at }}" class="pin-timestamp">{{ pin.created_at | date }}</time>
				</a>
				<div class="pin-actions">
					<a href="/pins/{{ pin.id }}/edit">Edit</a>
					<form method="POST" action="/pins/{{ pin.id }}/hide">
						<input type="text" name="_method" value="DELETE" hidden>
						<button type="submit" class="btn">Show</button>
					</form>
				</div>
			</article>
		</li>
	{% endfor %}
	</ol>
</section>
{% endblock %}
