{% extends "layouts.base" %}

{% block content %}
<section class="records">
	<header class="records-header">
		<h2 class="records-title">
			<a href="/boards/{{ board.id }}">{{ board.title }}</a>
		</h2>
		<div class="records-actions">
			<a href="/boards/{{ board.id }}/pins/new">
				<button>+ New</button>
			</a>
		</div>
	</header>

	<div class="records-content">
		<ol>
			{% for pin in pins | sort(attribute = "created_at", reverse = True) %}
			<li>
				<article class="pin">
					<section class="pin-details">
						<a class="pin-link" href="{{ pin.url }}">
							<h3 class="pin-title">{{ pin.title }}</h3>
							<h3 class="pin-url">{{ pin.url | url }}</h3>
						</a>
						<time class="pin-timestamp" datetime="{{ pin.created_at }}">{{ pin.created_at | date }}</time>
					</section>
					<section class="pin-actions">
						<a class="action" href="/pins/{{ pin.id }}/edit">Edit</a>
					</section>
				</article>
			</li>
			{% else %}
			<span>No pins to display</span>
			{% endfor %}
		</ol>
	</div>
</section>
{% endblock %}
