{% extends "layouts.base" %}

{% block turbo_control %}{% endblock %}

{% block scripts %}
<script type="module" src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@8.0"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/@hotwired/stimulus@3.2"></script>
<script type="module" src="/static/scripts/main.js"></script>
{% endblock %}

{% block header %}
<header id="site-header">
	<h1 id="site-title">Cork</h1>

	<nav id="site-nav">
		<a
			class="site-nav-link {% if active_nav == "boards" %} site-nav-link--active {% endif %}"
			href="/boards/"
		>
			Boards
		</a>
	</nav>

	<section id="site-actions">
		<span class="site-identity">{{ current_user.name }}</span>
		<span class="site-action-separator">/</span>
		<a
			class="site-action {% if active_nav == "settings" %} site-action--active {% endif %}"
			href="/settings"
		>
			Settings
		</a>
	</section>
</header>
{% endblock %}

{% block page %}
<main id="page">
	{% block content %}
	{% endblock %}
</main>
{% endblock %}
