<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<title>Cork</title>

		<link rel="stylesheet" type="text/css" href="/static/styles/prelude.css">
		<link rel="stylesheet" type="text/css" href="/static/styles/main.css">
	</head>

	<body>
		<header>
			<nav class="crumbs">
				<ol>
					<li>
						<h1>
							<a href="/">Cork</a>
						</h1>
					</li>
					{% block crumbs %}
					{% endblock %}
				</ol>
			</nav>
			<nav class="nav">
				<ul>
					<li>
						<a href="/pins/new">New</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			{% block content %}
			{% endblock %}
		</main>
	</body>
</html>
